body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    background-image: linear-gradient(to right, #115DAA, #63B0FF);
}

/* color: https://color.adobe.com/search?q=blue --> VPNMundo */

.container {
    margin: 12em auto;
    border-radius: 12px;
}

.user-pic {
    height: 12em;
    margin-top: 2em;
}

.custom-group {
    width: 20em;
    margin: 1em auto;
}

.form-control {
    border-radius: 12px !important;
    font-size: 1.4em;
}

.login-font {
    font-size: 1.4em;
    font-weight: bold;
    color: whitesmoke;
}

.custom-btn {
    margin: 2em;
    background-color: whitesmoke !important;
    border: 1px solid whitesmoke;
    height: 2.5em;
    width: 10em;
    border-radius: 12px;
    font-weight: 400;
    font-size: 1.4em;
}

.error-label{
    font-size: 1.4em;
}

.error-text {
    text-align: center !important;
    font-size: 2em;
    color: red !important;
}