body {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    background-image: linear-gradient(to right, #115DAA, #63B0FF);
}

.navbar {
    background-image: linear-gradient(to right, #115DAA, #63B0FF);
}

.container {
    width: 100%;
    margin: 0;
}

.greeting > h1 {
    color: white;
    margin: 1em 0em 0em 1em;
    font-weight: bold;
}

.gridView{
    background-color: #fff;
    margin: 0 auto;
    margin-top: 2em;
    border-radius: 10px;
    overflow: hidden;
}

.id-col {
    width: 100px !important;
}

.gridView th, .gridView td{
    font-size: 2em;
    padding: 0.2em 1em;
}

.gridView th{
    color: black !important;
    width: 570px;
}

.btn-select {
    font-size: 1em;
    padding: 0em;
    width: 100%;
    color: white;
    border: 1px solid #D9AD2B;
    border-radius: 10px;
}

.btn-select:hover{
    background: white;
    color: white;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer > hr {
    border: 1px solid white;
    width: 95%;
}